#main {
    height: 300px;
}

.left-panel {
    background: grey;
    border: 1px solid grey;
    width: 500px;
    height: 100%;
    box-shadow: 0px 4px 11px #888888;
}

.right-panel {
    width: 500px;
    height: 100%;
    border: 1px solid grey;
    box-shadow: 0px 4px 11px #888888;
}

.left-panel, .right-panel {
    margin: 10px 5px;
}

.searchbar-container {
    background: white;
    padding: 2px 5px;
}

.searchbar-container > select {
    width: fit-content;
}

.top-results-panel {
    border: 1px solid grey;
}

.city-container {
    background: grey;
    border-radius: 20px;
    margin: 5px;
    padding: 5px;
}

.last-results > ul > li{
    list-style-type: none;
}
